# Dictionary Simple Questions

In [ ]:
1. Write a Python program to add a new key to the dictionary.
    Data:
        x = {0: 10, 1: 20}
        y = {2: 30}
    Expected Output:
        {0: 10, 1: 20, 2: 30}

In [1]:
x = {0: 10, 1: 20}
y = {2: 30}
x.update(y)
x

{0: 10, 1: 20, 2: 30}

In [ ]:
2. Write a Python program to iterate over dictionaries using for loops.
    Data:
        d = {"a":10, "b":20, "c":30,}
    Expected Output:
        a -> 10
        b -> 20
        c -> 30

In [3]:
d = {"a":10, "b":20, "c":30,}
for key,val in d.items():
    print(key,"->",val)

a -> 10
b -> 20
c -> 30

In [ ]:
3. Write a Python program to sum all the values in a dictionary. 
    Data:
        d = {"data1":100, "data2":-50, "data3":200}
    Expected Output:
        250

In [8]:
d = {"data1":100, "data2":-50, "data3":200}
total=sum(d.values())
print(total)

250

In [ ]:
4. Write a Python program to multiply all the values in a dictionary.
    Data:
        d={"data1":100, "data2":-50, "data3":200}
    Expected Output:
        -1000000

In [16]:
d = {"data1": 100, "data2": -50, "data3": 200}
result=1
for value in d.values():
    result*=value
print(result)

-1000000

In [ ]:
6. Write a Python program to map two lists into a dictionary.
    Data:
        keys = ["Chandler", "Monica", "Joey"]
        values = ["Sarcasm", "Chef", "Food"]
    Expected Output:
        {'Chandler': 'Sarcasm', 'Monica': 'Chef', 'Joey': 'Food'}

In [19]:
keys = ["Chandler", "Monica", "Joey"]
values = ["Sarcasm", "Chef", "Food"]
print(dict(zip(keys,values)))

{'Chandler': 'Sarcasm', 'Monica': 'Chef', 'Joey': 'Food'}

In [ ]:
7. Write a Python program to sort a dictionary by key. 
    Data:
        dict = {'Chandler': 'Sarcasm', 'Monica': 'Chef', 'Joey': 'Food', 'Ross': 'Dinosaur', 'Rachel': 'Fashion'}

    Expected Output:
        Chandler: Sarcasm
        Joey: Food
        Monica: Chef
        Rachel: Fashion
        Ross: Dinosaur

In [27]:
dict = {'Chandler': 'Sarcasm', 'Monica': 'Chef', 'Joey': 'Food', 'Ross': 'Dinosaur', 'Rachel': 'Fashion'}
for key in sorted(dict.keys()):
    print(f"{key}: {dict[key]}")

Chandler: Sarcasm
Joey: Food
Monica: Chef
Rachel: Fashion
Ross: Dinosaur

In [ ]:
8. Write a Python program to check whether a dictionary is empty or not.
    Data:
        dict={}
    Expected Output:
        Dictionary is empty

In [29]:
 dict={}
if not dict:
    print("Dictionary is empty")
else:
    print("Dictionary is not empty")

Dictionary is empty

In [ ]:
9. Write a Python program to print the keys by index in a dictionary.
    Data:
        d = {'physics': 90, 'math': 100, 'chemistry': 96}
    Expected Output:
        physics
        math
        chemistry

In [30]:
d = {'physics': 90, 'math': 100, 'chemistry': 96}
keys=list(d.keys())
for i in range(len(keys)):
    print(keys[i])

physics
math
chemistry

In [ ]:
10. Write a Python program to concatenate following dictionaries to create a new one.
    Data:
        d1={1:10, 2:20} 
        d2={3:30, 4:40} 
        d3={5:50, 6:60}
    Expected Output:
        {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [35]:
d1={1:10, 2:20} 
d2={3:30, 4:40} 
d3={5:50, 6:60}
result={}
result.update(d1)
result.update(d2)
result.update(d3)
print(result)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [ ]:
11. Write a Python program to generate a dictionary that has length n and the elements in the format of {x: x*x}. 
    Data:
         n = 6
    Expected Output:
        {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36}

In [36]:
n = 6
result = {x: x*x for x in range(1, n+1)}
print(result)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36}

In [ ]:
12. Write a Python program to print a dictionary where the keys are numbers between 1 and 15 (both included) and 
    the values are square of keys.
    Expected Output:
        {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

In [37]:
result = {x: x*x for x in range(1, 16)}
print(result)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

In [ ]:
13. Write a Python program to merge two dictionaries. 
    Data:
        d1 = {"a":10, "b":20}
        d2 = {"x":30, "y":40}
    Expected Output:
        {'a': 10, 'b': 20, 'x': 30, 'y': 40}

In [39]:
d1 = {"a":10, "b":20}
d2 = {"x":30, "y":40}
d1.update(d2)
d1

{'a': 10, 'b': 20, 'x': 30, 'y': 40}

In [ ]:
14. Write a Python program to iterate over a dictionary and print all the keys and values using for loops.
    Data:
        d = {"Bihar":'Patna', "Sikkim":'Gangtok', "Goa":'Panaji'}
    Expected Output:
        Bihar   Patna
        Sikkim  Gangtok
        Goa     Panaji

In [40]:
d = {"Bihar":'Patna', "Sikkim":'Gangtok', "Goa":'Panaji'}
for state, capital in d.items():
    print(f"{state}\t{capital}")

Bihar	Patna
Sikkim	Gangtok
Goa	Panaji

In [ ]:
15. Write a Python program to add the values of common keys by combining two dictionaries.
    Data:
        d1 = {'a': 10, 'b': 20, 'c':30}
        d2 = {'a': 30, 'b': 20, 'd':40}
    Expected Output:    
        Counter({'a': 40, 'b': 40, 'd': 40, 'c': 30})

In [42]:
d1={'a': 10, 'b': 20, 'c':30}
d2={'a': 30, 'b': 20, 'd':40}
result={}
all_keys = set(d1.keys()).union(d2.keys())
for key in all_keys:
    result[key]=d1.get(key, 0) + d2.get(key, 0)
print(f"Counter({result})")

Counter({'b': 40, 'd': 40, 'a': 40, 'c': 30})

In [ ]:
16. Write a Python program to create and display all combinations of letters, selecting each letter from a different key in a dictionary.
    Data:
        {'1':['a','b'], '2':['c','d']}
    Expected Output: 
        ac
        ad
        bc
        bd

In [43]:
d={'1':['a','b'], '2':['c','d']}
values=list(d.values())
for first in values[0]:
    for second in values[1]:
        print(first+second)

ac
ad
bc
bd

In [ ]:
17. Write a Python program to find the highest 3 values and print the corresponding keys from a dictionary.
    Data:
        d = {'a':500, 'b':5874, 'c': 560,'d':400, 'e':5874, 'f': 20} 
    Expected Output: 
        ['b', 'e', 'c']

In [44]:
d = {'a':500, 'b':5874, 'c': 560,'d':400, 'e':5874, 'f': 20} 
sorted_items=sorted(d.items(),key=lambda item: item[1],reverse=True)
top_keys=[item[0] for item in sorted_items[:3]]
print(top_keys)

['b', 'e', 'c']

In [ ]:
18. Write a Python program to print the dictionary in a table format.
    Data:
        d = {'C1':[1,2,3], 'C2':[5,6,7], 'C3':[9,10,11]}
    Expected Output:
        C1 C2 C3
        1  5  9
        2  6  10
        3  7  11

In [45]:
d = {'C1':[1,2,3], 'C2':[5,6,7], 'C3':[9,10,11]}
for key in d.keys():
    print(key, end=' ')
print()
num_rows=len(next(iter(d.values())))
for i in range(num_rows):
    for key in d.keys():
        print(d[key][i], end='  ')
    print()

C1 C2 C3
1  5  9
2  6  10
3  7  11

In [ ]:
19. Write a Python program to convert a list into a nested dictionary of keys.
    Data:
        d = [1, 2, 3, 4]
    Expected Output:
        {1: {2: {3: {4: {}}}}}

In [46]:
d = [1, 2, 3, 4]
result = current = {}
for key in d:
    current[key] = {}
    current = current[key]

print(result)

{1: {2: {3: {4: {}}}}}

In [ ]:
20. Write a Python program to sort a list of values alphabetically in a dictionary.
    Data:
        d = {'n1': [2, 3, 1], 'n2': [5, 1, 2], 'n3': [3, 2, 4]}
    Expected Output:
        {'n1': [1, 2, 3], 'n2': [1, 2, 5], 'n3': [2, 3, 4]}

In [47]:
d = {'n1': [2, 3, 1], 'n2': [5, 1, 2], 'n3': [3, 2, 4]}
for key in d:
    d[key].sort()
print(d)

{'n1': [1, 2, 3], 'n2': [1, 2, 5], 'n3': [2, 3, 4]}