## List Simple - Questions

In [44]:
# 1. Write a Python program to check whether the list is empty or not.
a=[]
length=len(a)
if length==0:
    print("list is empty")
else:
    print("list is not empty")

list is empty

In [24]:
''' 2. Write a Python program to access the index of all the elements in a list.
        Data:
            x = [5, 15, 35, 8, 98]
        Expected Output:
            0 5
            1 15
            2 35
            3 8
            4 98 '''

' 2. Write a Python program to access the index of all the elements in a list.\n        Data:\n            x = [5, 15, 35, 8, 98]\n        Expected Output:\n            0 5\n            1 15\n            2 35\n            3 8\n            4 98 '

In [47]:
x = [5, 15, 35, 8, 98]
for i in x:
    print(x.index(i),i)

0 5
1 15
2 35
3 8
4 98

In [ ]:
''' 3. Write a Python program to convert a list of characters into a string.
        Data:
            x = ['a', 'b', 'c', 'd']
        Expected Output:
            abcd '''

In [50]:
x = ['a', 'b', 'c', 'd']
for i in x:
    print(i,end="")

abcd

In [ ]:
''' 4. Write a Python program to find the index of specified item in a list.
        Data:
            x = [10, 30, 4, -6]
        Expected Output:
            Index of 4 is 2 '''

In [51]:
x = [10, 30, 4, -6]
print("Index of 4 is ", x.index(4))

Index of 4 is  2

In [ ]:
''' 5. Write a Python program to print the sum of all the items in a list.
    Data:
        lt = [1, 2, -8]
    Expected Output:
        sum is -5 '''

In [53]:
lt = [1, 2, -8]
sum=0
for i in lt:
    sum=sum+i
print(sum)

-5

In [ ]:
''' 6. Write a Python program to multiply all the items in a list.
        Data:
            [1, 2, -8]
        Expected Output:
            -16 '''

In [54]:
lt = [1, 2, -8]
mul=1
for i in lt:
    mul=mul*i
print(mul)

-16

In [ ]:
''' 7. Write a Python program to get the largest number from a list.
        Data:
            [1, 2, -8, 0]
        Expected Output:
            2 '''

In [60]:
lt=[1, 2, -8, 0]
lt.sort()
print(lt[-1])

2

In [ ]:
''' 8. Write a Python program to get the smallest number from a list. 
        Data:
            [1, 2, -8, 0]
        Expected Output:
            -8 '''

In [61]:
lt=[1, 2, -8, 0]
lt.sort()
print(lt[0])

-8

In [ ]:
''' 9. Write a Python program to remove duplicate items from a list.
        Data:
            a = [10,20,30,20,10,50,60,40,80,50,40]
        Expected Output:
            [10, 20, 30, 50, 60, 40, 80] '''

In [75]:
a = [10,20,30,20,10,50,60,40,80,50,40]
b=set(a)
print(list(b))

[40, 10, 80, 50, 20, 60, 30]

In [66]:
''' 10. Write a Python program to clone or copy a list.
        Data:
            x = [10, 22, 44, 23, 4]
        Expected Output:
            X - [10, 22, 44, 23, 4]
            Y - [10, 22, 44, 23, 4] '''

' 10. Write a Python program to clone or copy a list.\n        Data:\n            x = [10, 22, 44, 23, 4]\n        Expected Output:\n            X - [10, 22, 44, 23, 4]\n            Y - [10, 22, 44, 23, 4] '

In [79]:
x = [10, 22, 44, 23, 4]
X=x.copy()
Y=x.copy()
print("X -",X)
print("Y -",Y)

X - [10, 22, 44, 23, 4]
Y - [10, 22, 44, 23, 4]

In [ ]:
''' 11. Write a Python program to convert a tuple into a List.
        Data:
            x = (1,2,3,4,5)
        Expected Output:
            (1, 2, 3, 4, 5)
            [1, 2, 3, 4, 5] '''

In [80]:
x = (1,2,3,4,5)
print(x)
print(list(x))

(1, 2, 3, 4, 5)
[1, 2, 3, 4, 5]

In [ ]:
''' 12. Write a Python program to print the numbers of a specified list after removing even numbers from it.
        Data:
            x = [7, 8, 120, 25, 44, 20, 27]
        Expected Output:
            [7, 25, 27] '''

In [91]:
x = [7, 8, 120, 25, 44, 20, 27]
b=[]
for i in x:
    if i%2 != 0:
        b.append(i)
print(b)

[7, 25, 27]

In [ ]:
''' 13. Write a Python program to shuffle and print a specified list. 
        Data:
            x = ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
        Expected Output:
            ['Pink', 'Black', 'Red', 'Yellow', 'White', 'Green'] '''

In [92]:
x = ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
y=set(x)
print(list(y))

['Yellow', 'White', 'Black', 'Red', 'Pink', 'Green']

In [ ]:
''' 14. Write a Python program to append the second list to the first list.
        Data:
            x = [1, 2, 3, 0]
            y = ['Red', 'Green', 'Black']
        Expected Output:
            [1, 2, 3, 0, 'Red', 'Green', 'Black'] '''

In [96]:
x = [1, 2, 3, 0]
y = ['Red', 'Green', 'Black']
x.extend(y)
print(x)

[1, 2, 3, 0, 'Red', 'Green', 'Black']

In [ ]:
''' 15. Write a Python program to select an item randomly from a list.
        Data:
            x = ['Red', 'Blue', 'Green', 'White', 'Black']
        Expected Output:
            White '''

In [97]:
x = ['Red', 'Blue', 'Green', 'White', 'Black']
print(x[3])

White

In [ ]:
''' 16. Write a Python program to get unique values from a list.
        Data:
            Original List :  [10, 20, 30, 40, 20, 50, 60, 40]
        Expected Output:
            List of unique numbers :  [40, 10, 50, 20, 60, 30] '''

In [98]:
lt=[10, 20, 30, 40, 20, 50, 60, 40]
new_lt=set(lt)
print(list(new_lt))

[40, 10, 50, 20, 60, 30]

In [ ]:
''' 17. Write a Python program to get variable unique identification number or string.
        Data:
            var1 = 'Python'
            var2 = 123
        Expected Output:
            186756869b0
            7ffea3a83660 '''

In [99]:
var1 = 'Python'
var2 = 123
print(id(var1))
print(id(var2))

2290163257136
140732333867752

In [ ]:
''' 18. Write a Python program to print common elements from two lists using set().
        Data:
            x = ("Red", "Green", "Orange", "White")
            y = ("Black", "Green", "White", "Pink")
        Expected Output:
            {'White', 'Green'} '''

In [105]:
x = ("Red", "Green", "Orange", "White")
y = ("Black", "Green", "White", "Pink")
x_set=set(x)
y_set=set(y)
new_set=x_set.intersection(y_set)
print(new_set)

{'Green', 'White'}

In [ ]:
''' 19. Write a Python program to convert a list of multiple integers into a single integer.
        Data:
            x = [11, 22, 33]
        Expected Output:
            112233 '''

In [111]:
x = [11, 22, 33]
for i in x:
    print(i, end="")

112233

In [ ]:
''' 20. Write a Python program to create multiple lists.
        Data:
            x = {}
        Expected Output:
            {'1': [], '2': [], '3': [], '4': [], '5': [], '6': [], '7': [], '8': [], '9': []} '''

In [113]:
x = {}
for i in range(1,10):
    x[str(i)] = []
print(x)

{'1': [], '2': [], '3': [], '4': [], '5': [], '6': [], '7': [], '8': [], '9': []}