# Nested Tuple Intermediate Questions

In [ ]:
1. Write a Python program to sort a nested tuple by its float element. 
    Data: 
        [('tuple1', '12.20'), ('tuple2', '15.10'), ('tuple3', '24.5')]
    Expected Output: 
        [('tuple3', '24.5'), ('tuple2', '15.10'), ('tuple1', '12.20')]

In [1]:
x = [('tuple1', '12.20'), ('tuple2', '15.10'), ('tuple3', '24.5')]
result = sorted(x, key=lambda item: float(item[1]), reverse=True)
print(result)

[('tuple3', '24.5'), ('tuple2', '15.10'), ('tuple1', '12.20')]

In [ ]:
2. Write a Python program to remove an empty tuple(s) from a list of nested tuples. 
    Data: 
        [(), (), ('',), ('a', 'b'), ('a', 'b', 'c'), ('d')]
    Expected output: 
        [('',), ('a', 'b'), ('a', 'b', 'c'), 'd']

In [2]:
lst = [(), (), ('',), ('a', 'b'), ('a', 'b', 'c'), ('d')]
result = [item for item in lst if item != ()]
print(result)

[('',), ('a', 'b'), ('a', 'b', 'c'), 'd']

In [ ]:
3. Write a Python program to count the elements in a list until an element is a tuple.
    Data:
        [10,20,30,(10,20),40]
    Expected output:
        3

In [3]:
lst = [10, 20, 30, (10, 20), 40]
count = 0
for item in lst:
    if isinstance(item, tuple):
        break
    count += 1
print(count)

3

In [ ]:
4. Write a Python program to convert a nested tuple of string values into a nested tuple of integer values.
    Data:
        (('333', '33'), ('1416', '55'))
    Expected output:
        ((333, 33), (1416, 55))

In [5]:
t = (('333', '33'), ('1416', '55'))
result = tuple(tuple(int(num) for num in inner) for inner in t)
print(result)

((333, 33), (1416, 55))

In [ ]:
5. Write a Python program to concat the given two tuples into a nested tuple.
    Data:
        test1 = (1, 2), 
        test2 = (3, 4),
    Expected output:
        The original tuple 1 : ((1, 2),)
        The original tuple 2 : ((3, 4),)
        Tuples after Concatenating : ((1, 2), (3, 4))

In [6]:
test1 = ((1, 2),)
test2 = ((3, 4),)
print("The original tuple 1 :", test1)
print("The original tuple 2 :", test2)
result = test1 + test2
print("Tuples after Concatenating :", result)

The original tuple 1 : ((1, 2),)
The original tuple 2 : ((3, 4),)
Tuples after Concatenating : ((1, 2), (3, 4))

In [ ]:
6. Write a Python program to remove duplicate tuples from the given list of tuples.
    Data:
        lst = [(1, 2), (5, 7), (3, 6), (1, 2)] 
    Expected output:
        [(1, 2), (5, 7), (3, 6)]

In [7]:
lst = [(1, 2), (5, 7), (3, 6), (1, 2)]
seen = set()
result = []
for t in lst:
    if t not in seen:
        result.append(t)
        seen.add(t)
print(result)

[(1, 2), (5, 7), (3, 6)]

In [ ]:
7. Write a Python program to remove 'None' from the given list of tuples.
    Data:
        x = [(None, 2), (None, None), (3, 4), (12, 3), (None, )] \
    Expected output: 
        The original list is : [(None, 2), (None, None), (3, 4), (12, 3), (None,)]
        Removed None Tuples : [(None, 2), (3, 4), (12, 3)]

In [8]:
x = [(None, 2), (None, None), (3, 4), (12, 3), (None, )]
print("The original list is :", x)
result = [t for t in x if not all(item is None for item in t)]
print("Removed None Tuples :", result)

The original list is : [(None, 2), (None, None), (3, 4), (12, 3), (None,)]
Removed None Tuples : [(None, 2), (3, 4), (12, 3)]

In [ ]:
8. Write a Python program to find the tuples which contains the given element from a list of tuples.
    Data:
        [(14, 3),(23, 41),(33, 62),(1, 3),(3, 3)] 
    Expected output:
        [(14, 3), (1, 3), (3, 3)]

In [9]:
lst = [(14, 3), (23, 41), (33, 62), (1, 3), (3, 3)]
element = 3
result = [t for t in lst if element in t]
print(result)

[(14, 3), (1, 3), (3, 3)]

In [ ]:
9. Write a Python program to convert string values from a given list into a list of tuples, using map() and eval() functions.
    Data:
        ["('Boss', 3)", "('Suresh', 6)", "('Dinesh', 9)"]
    Expected output: 
        The original list is : ["('Boss', 3)", "('Suresh', 6)", "('Dinesh', 9)"]
        The list tuple after conversion : [('Boss', 3), ('Suresh', 6), ('Dinesh', 9)]

In [10]:
lst = ["('Boss', 3)", "('Suresh', 6)", "('Dinesh', 9)"]
print("The original list is :", lst)
tuple_list = list(map(eval, lst))
print("The list tuple after conversion :", tuple_list)

The original list is : ["('Boss', 3)", "('Suresh', 6)", "('Dinesh', 9)"]
The list tuple after conversion : [('Boss', 3), ('Suresh', 6), ('Dinesh', 9)]

In [ ]:
10. Write a Python program to print only those tuples which has all positive elements in it.
    Data:
        [(4, 5, 9), (-3, 2, 3), (-3, 5, 6), (4, 6)]
    Expected output:
        The original list is : [(4, 5, 9), (-3, 2, 3), (-3, 5, 6), (4, 6)]
        Positive elements Tuples : [(4, 5, 9), (4, 6)]

In [11]:
lst = [(4, 5, 9), (-3, 2, 3), (-3, 5, 6), (4, 6)]
print("The original list is :", lst)
positive_tuples = [t for t in lst if all(x > 0 for x in t)]
print("Positive elements Tuples :", positive_tuples)

The original list is : [(4, 5, 9), (-3, 2, 3), (-3, 5, 6), (4, 6)]
Positive elements Tuples : [(4, 5, 9), (4, 6)]