# Tuple Hard Questions

In [ ]:
1. Write a Python program to sum all the elements of each tuple stored in a list.
    Data:
        list of tuples:
        [(5, 4), (5, 3), (2, 4)]
        [(1, 2, 4), (3, 4, -6), (3, 5), (1, 4, 2, 2)]
    Expected Output:
        Sum of all the elements of each tuple:
        [9, 8, 6]
        [7, 1, 8, 9]

In [1]:
tuples1 = [(5, 4), (5, 3), (2, 4)]
tuples2 = [(1, 2, 4), (3, 4, -6), (3, 5), (1, 4, 2, 2)]
sums1 = [sum(t) for t in tuples1]
sums2 = [sum(t) for t in tuples2]
print("Sum of all the elements of each tuple:")
print(sums1)
print(sums2)

Sum of all the elements of each tuple:
[9, 8, 6]
[7, 1, 8, 9]

In [ ]:
'''2. Write a Python program to compute element-wise sum of given tuples. 
    Data:
        list of tuples:
        x = (1,2,3,4), y = (3,5,2,1), z = (2,2,3,1), l = (1,2,3,4)
    Expected Output:
        Element-wise sum of the said tuples:
        (7, 11, 11, 10) '''

In [2]:
x = (1, 2, 3, 4)
y = (3, 5, 2, 1)
z = (2, 2, 3, 1)
l = (1, 2, 3, 4)
elementwise_sum = tuple(sum(items) for items in zip(x, y, z, l))
print("Element-wise sum of the said tuples:")
print(elementwise_sum)

Element-wise sum of the said tuples:
(7, 11, 11, 10)

In [ ]:
3. Write a Python program to check whether a specified element is present in a given nested tuple.
    Data:
        list of tuples:
        (('Coffee', 'Tea', 'Boost'), ('Badam', 'Pista', 'Walnut'), ('Sangeetha', 'A2B', 'Saravana'))
    Expected Output:
        Check if Bournvita present in said tuple of tuples! False
        Check if Saravana present in said tuple of tuples! True

In [3]:
data = (('Coffee', 'Tea', 'Boost'), ('Badam', 'Pista', 'Walnut'), ('Sangeetha', 'A2B', 'Saravana'))
def is_present(nested_tuple, element):
    return any(element in inner for inner in nested_tuple)
print("Check if Bournvita present in said tuple of tuples!", is_present(data, "Bournvita"))
print("Check if Saravana present in said tuple of tuples!", is_present(data, "Saravana"))

Check if Bournvita present in said tuple of tuples! False
Check if Saravana present in said tuple of tuples! True

In [ ]:
4. Write a Python program to convert a given tuple of integers into an integer.
    Data:
        Example tuple: 
        (9, 20, 40, 10, 70)
    Expected Output:
        positive integers:
        920401070

In [4]:
t = (9, 20, 40, 10, 70)
result=int(''.join(str(num) for num in t))
print("positive integers:")
print(result)

positive integers:
920401070

In [ ]:
5. Write a Python program to convert a tuple of string values into a tuple of integer values. 
    Data:
        tuple values:
        (('222', '33'), ('546', '678'))
    Expected Output:
        New tuple values:
        ((222, 33), (546, 678))

In [5]:
t = (('222', '33'), ('546', '678'))
result = tuple(tuple(int(num) for num in inner) for inner in t)
print("New tuple values:")
print(result)

New tuple values:
((222, 33), (546, 678))

In [ ]:
6. Write a Python program to calculate the average value of the numbers in a given tuple of tuples. 
    Data:
        Example Tuple: 
        ((5, 30, 10, 12), (30, 20, 56, 54), (26, 80, 67, 32), (1, 4, 3, 9))
        ((1, 1, -7), (10, -15, 56), (71, -60, -39), (-10, 2, 9))
    Expected Output:
        Average value of the numbers:
        [15.5, 33.5, 34.0, 26.75]
        [18.0, -18.0, 4.75]

In [6]:
t1 = ((5, 30, 10, 12), (30, 20, 56, 54), (26, 80, 67, 32), (1, 4, 3, 9))
t2 = ((1, 1, -7), (10, -15, 56), (71, -60, -39), (-10, 2, 9))
def column_averages(tuples):
    return [sum(col) / len(col) for col in zip(*tuples)]
print("Average value of the numbers:")
print(column_averages(t1))
print(column_averages(t2))

Average value of the numbers:
[15.5, 33.5, 34.0, 26.75]
[18.0, -18.0, 4.75]

In [ ]:
7. Write a Python program to multiply all the elements of a given tuple. 
    Data:
        Example Tuple: 
        (4, 3, 5, 2, -2, 10)
        (2, 6, 8, 7, 3, 1, 9)
    Expected Output:
        multiplying all the numbers: -2400
        multiplying all the numbers: 18144

In [7]:
from functools import reduce
import operator
t1 = (4, 3, 5, 2, -2, 10)
t2 = (2, 6, 8, 7, 3, 1, 9)
def tuple_product(t):
    return reduce(operator.mul, t, 1)
print("multiplying all the numbers:", tuple_product(t1))
print("multiplying all the numbers:", tuple_product(t2))

multiplying all the numbers: -2400
multiplying all the numbers: 18144

In [ ]:
8. Write a Python program to convert a given string into a tuple.
    Data:
        Example string:
        aidinasaur.com
        <class 'str'>
    Expected Output:
        Convert the said string to a tuple:
        ('a', 'i', 'd', 'i', 'n', 'a', 's', 'a', 'u', 'r', '.', 'c', 'o', 'm')
        <class 'tuple'>

In [8]:
s = "aidinasaur.com"
print("Convert the said string to a tuple:")
t = tuple(s)
print(t)
print(type(t))

Convert the said string to a tuple:
('a', 'i', 'd', 'i', 'n', 'a', 's', 'a', 'u', 'r', '.', 'c', 'o', 'm')
<class 'tuple'>

In [2]:
9. Write a Python Program to Read a Number n and Compute n+nn+nnn using tuple. Get the input from user.
    Expected Output:
        Enter a number n : 5
        The value is : 615

In [9]:
n = input("Enter a number n : ")
values = (int(n), int(n*2), int(n*3))
result = sum(values)
print("The value is :", result)

Enter a number n :  5

The value is : 615

In [1]:
10. Write a Python program to slice a tuple.
    Data:
        x = (2, 4, 3, 5, 4, 6, 7, 8, 6, 1)
        y = tuple("HELLO NATURE")
    Expected Output:
        (5, 4)
        (2, 4, 3, 5, 4, 6)
        (6, 7, 8, 6, 1)
        (2, 4, 3, 5, 4, 6, 7, 8, 6, 1)
        (3, 5, 4, 6)
        ('H', 'E', 'L', 'L', 'O', ' ', 'N', 'A', 'T', 'U', 'R', 'E')
        ('L', 'O', 'N', 'T')
        ('H', 'O', 'T')
        ('U', ' ')

In [10]:
x = (2, 4, 3, 5, 4, 6, 7, 8, 6, 1)
y = tuple("HELLO NATURE")
print(x[3:5])         
print(x[:6])          
print(x[5:])          
print(x[:])           
print(x[2:6])         
print(y[:])           
print(y[2:9:2])       
print(y[::4])         
print(y[-4:-6:-3])

(5, 4)
(2, 4, 3, 5, 4, 6)
(6, 7, 8, 6, 1)
(2, 4, 3, 5, 4, 6, 7, 8, 6, 1)
(3, 5, 4, 6)
('H', 'E', 'L', 'L', 'O', ' ', 'N', 'A', 'T', 'U', 'R', 'E')
('L', 'O', 'N', 'T')
('H', 'O', 'T')
('T',)

In [2]:
11. Write a Python program to print the calendar of a given month and year using tuple.
    Data:
        Input the year : 2012
        Input the month : 4 
    Expected Output:
             April 2012
        Mo Tu We Th Fr Sa Su
                           1
        2  3  4  5  6  7  8
        9 10 11 12 13 14 15
        16 17 18 19 20 21 22
        23 24 25 26 27 28 29
        30

In [11]:
import calendar
year = int(input("Input the year : "))
month = int(input("Input the month : "))
date_tuple = (year, month)
print(calendar.month(date_tuple[0], date_tuple[1]))

Input the year :  2012
Input the month :  4

     April 2012
Mo Tu We Th Fr Sa Su
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30

In [3]:
12. Write a Python function to calculate the sum of given three numbers in a tuple. Return three times of their sum, if the values in a tuple are same.
    Data:
        (1, 2, 3) 
        (3, 3, 3)
    Expected Output:
        6
        27

In [12]:
def special_sum(t):
    a, b, c = t
    s = a + b + c
    if a == b == c:
        return 3 * s
    else:
        return s
print(special_sum((1, 2, 3)))  
print(special_sum((3, 3, 3)))

6
27

In [4]:
13. Write a Python program to count the number 4 in a given list of tuple.
    Data:
        tuples([1, 5, 6, 8, 4])
        tuples([1, 4, 6, 2, 7, 5])
    Expected Output:
        1
        1

In [13]:
t1 = (1, 5, 6, 8, 4)
t2 = (1, 4, 6, 2, 7, 5)
print(t1.count(4))
print(t2.count(4))

1
1

In [5]:
14. Write a Python function to check whether a specified letter in a tuple is a vowel or not. Return True if it a vowel, False if not.
    Data:
        vowel('c')
        vowel('e')
    Expected Output:
        False
        True

In [14]:
def vowel(letter):
    vowels = ('a', 'e', 'i', 'o', 'u')
    return letter.lower() in vowels
print(vowel('c'))  
print(vowel('e'))

False
True

In [6]:
15. Write a Python program to compute the greatest common divisor (GCD) of two given positive integers in a tuple.
    Data:
        a = (12, 17)    
    Expected output:
        1

In [15]:
import math
a = (12, 17)
num1,num2 = a
gcd=math.gcd(num1, num2)
print(gcd)

1

In [7]:
16. Write a Python program to compute the least common multiple (LCM) of two given positive integers in a tuple.
    Data:
        a = (4, 6)
    Expected output:
        12

In [16]:
import math
a = (4, 6)
num1, num2 = a
lcm = abs(num1 * num2) // math.gcd(num1, num2)
print(lcm)

12

In [8]:
17. Write a Python program to calculate the hypotenuse of a right angled triangle. 
    Data:
        Input lengths of shorter triangle sides:
            a: 4
            b: 5
    Expected Output:
        length of the hypotenuse is 6.4031242374328485

In [17]:
import math
a = float(input("Input lengths of shorter triangle sides:\na: "))
b = float(input("b: "))
hypotenuse = math.sqrt(a**2 + b**2)
print("length of the hypotenuse is", hypotenuse)

Input lengths of shorter triangle sides:
a:  4
b:  5

length of the hypotenuse is 6.4031242374328485

In [9]:
18. Write a Python program to check whether a given variable is a list or a tuple or a set.
    Data:
        x = ('tuple', True, 5.2, 9)
    Expected Output:
        x is a tuple

In [18]:
x = ('tuple', True, 5.2, 9)
if isinstance(x, list):
    print("x is a list")
elif isinstance(x, tuple):
    print("x is a tuple")
elif isinstance(x, set):
    print("x is a set")
else:
    print("x is neither a list, tuple, nor set")

x is a tuple

In [10]:
19. Write a Python program to update the element "banana" into "kiwi" that is stored in a tuple.
    Data:
        x = ("apple", "banana", "cherry")
    Expected Output:
        ('apple', 'banana', 'cherry')
        ('apple', 'kiwi', 'cherry')

In [19]:
x = ("apple", "banana", "cherry")
print(x)
x_list = list(x)
x_list[x_list.index("banana")] = "kiwi"
x_updated = tuple(x_list)
print(x_updated)

('apple', 'banana', 'cherry')
('apple', 'kiwi', 'cherry')

In [ ]:
20. Write a Python program to convert a tuple into a dictionary.
    Data:
        x = (("boss", 10), ("suresh", 12), ("anand", 14), ("siva", 20), ("bala", 25), ("karthi", 30))
    Expected Output:
        {10: 'boss', 12: 'suresh', 14: 'anand', 20: 'siva', 25: 'bala', 30: 'karthi'}

In [20]:
x = (("boss", 10), ("suresh", 12), ("anand", 14), ("siva", 20), ("bala", 25), ("karthi", 30))
d = {num: name for name, num in x}
print(d)

{10: 'boss', 12: 'suresh', 14: 'anand', 20: 'siva', 25: 'bala', 30: 'karthi'}