In [1]:
1. Write a Python program to unzip a list of tuples into individual lists.
    Data:
        x = [(1,2), (3,4), (8,9)]
    Expected Output:
        [(1, 3, 8), (2, 4, 9)]

In [1]:
x = [(1,2), (3,4), (8,9)]
result=list(zip(*x))
print(result)

[(1, 3, 8), (2, 4, 9)]

In [2]:
2. Write a Python program to print a tuple with string formatting.
    Data:
        x = (10, 20, 30)
    Expected Output:
        This is a tuple (10, 20, 30)

In [2]:
x = (10, 20, 30)
print(f"This is a tuple {x}")

This is a tuple (10, 20, 30)

In [3]:
3. Write a Python program to replace last values of tuples in a list.
    Data:
        x= [(80, 60, 40), (40, 90, 60), (20, 40, 90)]
    Expected Output:
        [(80, 60, 100), (40, 90, 100), (20, 40, 100)]

In [3]:
x = [(80, 60, 40), (40, 90, 60), (20, 40, 90)]
result = [t[:-1] + (100,) for t in x]
print(result)

[(80, 60, 100), (40, 90, 100), (20, 40, 100)]

In [4]:
4. Write a Python program to remove an empty tuple(s) from a list of tuples.
    Data:
        X = [(), (), ('',), ('a', 'b'), ('c', 'd', 'e'), ('f')] 
    Expected Output:
        [('',), ('a', 'b'), ('c', 'd', 'e'), 'f']

In [4]:
X = [(), (), ('',), ('a', 'b'), ('c', 'd', 'e'), ('f')] 
result = [item for item in X if item != ()]
print(result)

[('',), ('a', 'b'), ('c', 'd', 'e'), 'f']

In [5]:
5. Write a Python program to sort a tuple by its element specified in float.
    Data:
        x = [('item1', '29.20'), ('item2', '49.10'), ('item3', '33.5')]
    Expected Output:
        [('item2', '49.10'), ('item3', '33.5'), ('item1', '29.20')]

In [5]:
x = [('item1', '29.20'), ('item2', '49.10'), ('item3', '33.5')]
result = sorted(x, key=lambda item: float(item[1]), reverse=True)
print(result)

[('item2', '49.10'), ('item3', '33.5'), ('item1', '29.20')]

In [2]:
6. Write a Python program to count the elements in a list until an element is a tuple.
    Data:
        x = [10,20,30,(10,20),40]
        y = 0
    Expected Output:
        3

In [6]:
x = [10, 20, 30, (10, 20), 40]
y = 0
for item in x:
    if isinstance(item, tuple):
        break
    y += 1
print(y)

3

In [3]:
7. Write a Python program to Sort a tuple of tuples by 2nd item.
    Data:
        x = (('a', 23),('b', 37),('c', 11), ('d',29))
    Expected Output:
        (('c', 11), ('a', 23), ('d', 29), ('b', 37))

In [7]:
x = (('a', 23), ('b', 37), ('c', 11), ('d', 29))
sorted_x=tuple(sorted(x, key=lambda item: item[1]))
print(sorted_x)

(('c', 11), ('a', 23), ('d', 29), ('b', 37))

In [4]:
8. Write a Python program to Check whether all items in a tuple are the same.
    Data:
        y = (45, 45, 45, 45)
    Expected Output:
        True

In [8]:
y = (45, 45, 45, 45)
result = len(set(y)) == 1
print(result)

True

In [5]:
9. Write a Python program to calculate the area of a circle by sending the value of radius in a tuple.
    Data:
        a = (5)
    Expected Output:
        78.57142857142857

In [10]:
a = (5,) 
radius=a[0]
area=(22/7)*radius*radius
print(area)

78.57142857142857

In [6]:
10. Write a Python program to calculate the circumference of a circle by sending the value of radius in a tuple.
    Data:
        a = (2)
    Expected Output:
        12.571428571428571

In [11]:
a = (2,) 
radius = a[0]
circumference = 2 * (22/7) * radius
print(circumference)

12.571428571428571

In [7]:
11. Write a Python program to calculate the perimeter of a square by sending the value of side in a tuple.
    Data:
        a = (3)
    Expected Output:
        12

In [12]:
a = (3,)
side = a[0]
perimeter = 4 * side
print(perimeter)

12

In [8]:
12. Write a Python program to calculate the area of a traingle by sending the value of height and base in a tuple.
    Data:
        h = (23)
        b = (34)
    Expected Output:
        391.0

In [13]:
h = (23,)  
b = (34,)
height = h[0]
base = b[0]
area = 0.5 * base * height
print(area)

391.0

In [9]:
13. Write a Python program to create a tuple with elements of different data types.
    Expected Output:
        ()
        (1, 2, 3)
        (1, 'Hello', 3.4)
        ('HI', [8, 4, 6], (1, 2, 3))

In [14]:
t1 = ()
print(t1)
t2 = (1, 2, 3)
print(t2)
t3 = (1, 'Hello', 3.4)
print(t3)
t4 = ('HI', [8, 4, 6], (1, 2, 3))
print(t4)

()
(1, 2, 3)
(1, 'Hello', 3.4)
('HI', [8, 4, 6], (1, 2, 3))

In [10]:
14. Write a Python program to unpack a tuple in several variables.
    Data:
        x = 3, 4.6, "dog"
    Expected Output:
        (3, 4.6, 'dog')
        3
        4.6
        dog

In [15]:
x = 3, 4.6, "dog"
a, b, c = x
print(x)
print(a)
print(b)
print(c)

(3, 4.6, 'dog')
3
4.6
dog

In [1]:
15. Write a Python program to update the value "6" to "9" which is present in a tuple using index. 
    Data:
        x = (4, 2, 3, [6, 5])
    Expected Output:
        (4, 2, 3, [9, 5])

In [16]:
x = (4, 2, 3, [6, 5])
lst = x[3]
for i, val in enumerate(lst):
    if val == 6:
        lst[i] = 9
        break
print(x)

(4, 2, 3, [9, 5])

In [2]:
16. Write a Python program to check whether an element is present in a given tuple using the keyword in. Print the elements of a tuple one by one.
    Data:
        x = ("Bihar", "Odisha", "Assam") 
    Expected Output:
        yes Bihar is present in the given tuple

        Bihar
        Odisha
        Assam

In [3]:
17. Write a Python program to check whether an element is not present in a given tuple using the keyword not in. Print the elements of a tuple one by one.
    Data:
        x = ("Bihar", "Odisha", "Assam")
    Expected Output:
        False
        True

In [17]:
x = ("Bihar", "Odisha", "Assam")
if "Bihar" in x:
    print("yes Bihar is present in the given tuple\n")
for state in x:
    print(state)

yes Bihar is present in the given tuple

Bihar
Odisha
Assam

In [4]:
''' 18. Write a Python program to print the following output from given tuple (5 > 3 and 5 < 10 )and (5 > 3 or 5 > 10) is True or False.
    Expected Output:
        Both statements are True
        any one statements are True '''

In [18]:
statement1 = (5 > 3 and 5 < 10)
statement2 = (5 > 3 or 5 > 10)
if statement1 and statement2:
    print("Both statements are True")
elif statement1 or statement2:
    print("any one statements are True")
else:
    print("Both statements are False")

Both statements are True

In [5]:
19. Write a Python program to print an element from a given tuple using index and negative index.
    Data:
        x = ("boss", "bala", "suresh")
    Expected Output:
        bala
        suresh

In [19]:
x = ("boss", "bala", "suresh")
print(x[1])
print(x[-1])

bala
suresh

In [ ]:
20. Write a Python program to print the elements of a given tuple using range of indices and range of negative indices.
    Data:
        x = ("Magnum", "Pistah", "Strawberry", "Vennila", "Chocobar", "Blackberry", "Salad")
    Range of Indexes,Range of Negative Indexes.
    Expected Output:
        ('Strawberry', 'Vennila', 'Chocobar', 'Blackberry', 'Salad')
        ('Vennila', 'Chocobar', 'Blackberry')

In [20]:
x = ("Magnum", "Pistah", "Strawberry", "Vennila", "Chocobar", "Blackberry", "Salad")
print(x[2:])
print(x[-5:-2])

('Strawberry', 'Vennila', 'Chocobar', 'Blackberry', 'Salad')
('Strawberry', 'Vennila', 'Chocobar')